@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-12rem) rotate(0deg); }
  80% {
    transform: rotate(180deg); }
  60% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem); }
  80% {
    transform: rotate(-180deg); }
  60% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    animation: moveInLeft 3s ease-out 1s;
    letter-spacing: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    animation: moveInRight 3s ease-out 1s;
    letter-spacing: 1rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #00c3ff, #fff700);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  padding: 2rem 4rem;
  position: relative;
  font-size: 1.6rem; }
  .btn:link, .btn:visited {
    text-transform: uppercase; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scale(2);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition  is always in the initial state */
    transition: all 0.4s; }
  .btn-white {
    background-color: #fff;
    color: #777; }
    .btn-white::after {
      background-color: #fff; }
  .btn-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* backwards means the initial state only happens when the animation starts */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: #00c3ff;
  border-bottom: 1px solid #00c3ff;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #00c3ff;
  color: #fff;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    z-index: 10;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      z-index: 20;
      transform: translateY(-1rem) scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #fff700; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  border-radius: 0.3rem; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #fff700, #00c3ff);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }
  .feature-box__text {
    background-image: linear-gradient(to right bottom, #777, #00c3ff);
    -webkit-background-clip: text;
    color: transparent; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(7deg);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding-left: 9rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(-8deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(-8deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(255, 247, 0, 0.8), rgba(0, 195, 255, 0.8)), url("../img/goku-wallpaper-1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100vw 0, 100vw 95vh, 60vw 95vh, 0 75vh); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center; }

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(255, 247, 0, 0.8), rgba(0, 195, 255, 0.8)), url("../img/goku-banner.png");
  background-size: cover;
  transform: skewY(7deg);
  margin-top: -12rem; }
  .section-features > * {
    transform: skewY(-7deg); }

.section-tours {
  margin-top: -12rem;
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0; }

.section-stories {
  padding: 15rem 0;
  position: relative; }
