// Color

$color-black: #000;
$color-white: #fff;
$color-grey: #777;
$color-yellow: #fff700;
$color-blue: #00c3ff;

$color-grey-light-1: #f7f7f7;

// Font

$default-font-size: 1.6rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
