.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-yellow, 0.8),
      rgba($color-blue, 0.8)
    ),
    url("../img/goku-wallpaper-1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100vw 0, 100vw 95vh, 60vw 95vh, 0 75vh);

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
  }
}
