.composition {
  position: relative;
  &__photo {
    width: 55%;
    z-index: 10;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      z-index: 20;
      transform: translateY(-1rem) scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-yellow;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
